## Features: X1-X5
## No eta
## No learning rate

In [28]:
import pandas as pd #to import file
import numpy as np
import math



def read_csv_regex(data, date_columns=[]):
    df = pd.read_csv(data, quotechar='"', parse_dates=date_columns)
    
    # remove front and ending blank spaces
    df = df.replace({"^\s*|\s*$":" "}, regex=True) 
    
    # if there remained only empty string "", change to Nan
    df = df.replace({"":np.nan}) 
    return df

In [29]:
dataframe = pd.read_csv("perceptron2.0.csv")
dataframe.head(40)

    x1  x2  x3  x4  x5  output
0    0   0   0   0   0       0
1    0   0   0   0   1       0
2    0   0   0   1   0       0
3    0   0   0   1   1       0
4    0   0   1   0   0       0
5    0   0   1   0   1       0
6    0   0   1   1   0       0
7    0   0   1   1   1       0
8    0   1   0   0   0       0
9    0   1   0   0   1       0
10   0   1   0   1   0       0
11   0   1   0   1   1       0
12   0   1   1   0   0       0
13   0   1   1   0   1       0
14   0   1   1   1   0       0
15   0   1   1   1   1       0
16   1   0   0   0   0       1
17   1   0   0   0   1       1
18   1   0   0   1   0       1
19   1   0   0   1   1       1
20   1   0   1   0   0       1
21   1   0   1   0   1       1
22   1   0   1   1   0       1
23   1   0   1   1   1       1
24   1   1   0   0   0       1
25   1   1   0   0   1       1
26   1   1   0   1   0       1
27   1   1   0   1   1       1
28   1   1   1   0   0       1
29   1   1   1   0   1       1
30   1   1   1   1   0       1
31   1   1   1   1   1       1

In [30]:
print(dataframe.shape[0])
print(dataframe.shape[1])

32
6

In [31]:
dataframe[dataframe.columns[1]]

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    1
25    1
26    1
27    1
28    1
29    1
30    1
31    1
Name: x2, dtype: int64

In [32]:
dataframe.columns[1][1]
print(type(dataframe[dataframe.columns[1]][0]))

<class 'numpy.int64'>

In [33]:
type(dataframe[dataframe.columns[-1]][1])

numpy.int64

In [34]:
w = [0.1, 0.3, 0.2, 0.4, 0.2]
n = dataframe.shape[1] - 1 #no of features
m = dataframe.shape[0]
y = -1
theta = 0.5
print(w)
print(len(w))

[0.1, 0.3, 0.2, 0.4, 0.2]
5

In [35]:
def perceptron():
  print(w[0], w[1], w[2], w[3], w[4])
  for i in range(m):
    sop = 0
    for j in range(n):
      x = dataframe[dataframe.columns[j]][i]
      #print(x)
      sop += x*w[j]
    #print(sop)
    if(sop >= theta):
      y = 1
    else:
      y = 0

    desired = dataframe[dataframe.columns[-1]][i]
    if(y == desired):
      continue
    elif(y == 0 and desired == 1):
      for a in range(n):
        new_w = w[a] + dataframe[dataframe.columns[a]][i]
        w[a] = new_w
      print("Changed Weights (add): ",w[0], w[1], w[2], w[3], w[4])
      perceptron()
    elif(y == 1 and desired == 0):
      for a in range(n):
        new_w = w[a] - dataframe[dataframe.columns[a]][i]
        w[a] = new_w
      print("Changed Weights (sub): ",w[0], w[1], w[2], w[3], w[4])
      perceptron()

In [36]:
perceptron()
print(w)

0.1 0.3 0.2 0.4 0.2
Changed Weights (sub):  0.1 0.3 0.2 -0.6 -0.8
0.1 0.3 0.2 -0.6 -0.8
Changed Weights (sub):  0.1 -0.7 -0.8 -0.6 -0.8
0.1 -0.7 -0.8 -0.6 -0.8
Changed Weights (add):  1.1 -0.7 -0.8 -0.6 -0.8
1.1 -0.7 -0.8 -0.6 -0.8
Changed Weights (add):  2.1 -0.7 -0.8 -0.6 0.19999999999999996
2.1 -0.7 -0.8 -0.6 0.19999999999999996
Changed Weights (add):  3.1 0.30000000000000004 0.19999999999999996 0.4 0.19999999999999996
3.1 0.30000000000000004 0.19999999999999996 0.4 0.19999999999999996
Changed Weights (sub):  3.1 0.30000000000000004 0.19999999999999996 -0.6 -0.8
3.1 0.30000000000000004 0.19999999999999996 -0.6 -0.8
Changed Weights (sub):  3.1 -0.7 -0.8 -0.6 -0.8
3.1 -0.7 -0.8 -0.6 -0.8
Changed Weights (add):  4.1 0.30000000000000004 0.19999999999999996 0.4 0.19999999999999996
4.1 0.30000000000000004 0.19999999999999996 0.4 0.19999999999999996
Changed Weights (sub):  4.1 0.30000000000000004 0.19999999999999996 -0.6 -0.8
4.1 0.30000000000000004 0.19999999999999996 -0.6 -0.8
Changed Weights (sub):  4.1 -0.7 -0.8 -0.6 -0.8
4.1 -0.7 -0.8 -0.6 -0.8
[4.1, -0.7, -0.8, -0.6, -0.8]