## Case: 1

In [1]:
import pandas as pd #to import file
import numpy as np
import math



def read_csv_regex(data, date_columns=[]):
    df = pd.read_csv(data, quotechar='"', parse_dates=date_columns)
    
    # remove front and ending blank spaces
    df = df.replace({"^\s*|\s*$":" "}, regex=True) 
    
    # if there remained only empty string "", change to Nan
    df = df.replace({"":np.nan}) 
    return df

In [2]:
dataframe = pd.read_csv("perceptron2.0.csv")
dataframe.head(10)

   x1  x2  x3  x4  x5  output
0   0   0   0   0   0       0
1   0   0   0   0   1       0
2   0   0   0   1   0       0
3   0   0   0   1   1       0
4   0   0   1   0   0       0
5   0   0   1   0   1       0
6   0   0   1   1   0       0
7   0   0   1   1   1       0
8   0   1   0   0   0       0
9   0   1   0   0   1       0

In [3]:
dataframe = dataframe.sample(frac = 1)
dataframe.head(10)

    x1  x2  x3  x4  x5  output
19   1   0   0   1   1       1
23   1   0   1   1   1       1
4    0   0   1   0   0       0
21   1   0   1   0   1       1
27   1   1   0   1   1       1
26   1   1   0   1   0       1
8    0   1   0   0   0       0
0    0   0   0   0   0       0
5    0   0   1   0   1       0
2    0   0   0   1   0       0

In [4]:
w = [0.1, 0.3, 0.2, 0.4, 0.2]
n = dataframe.shape[1] - 1 #no of features
y = -1
theta = 0.5
etas = [0.2, 0.4, 0.7]
print(w)
print(len(w))
r = float(0.0)

[0.1, 0.3, 0.2, 0.4, 0.2]
5

In [5]:
def learn_perceptron(r, eta):
    #print(w[0], w[1], w[2], w[3], w[4])
    #eta = 0.3
    eta = float(eta)
    r = float(r)
    m = int(dataframe.shape[0]*r)
    n = dataframe.shape[1] - 1 #no of features
    for i in range(m):
        sop = 0
        for j in range(n):
            x = dataframe[dataframe.columns[j]][i]
            #print(x)
            sop += x*w[j]
        #print(sop)
        if(sop >= theta):
            y = 1
        else:
            y = 0
        
        desired = dataframe[dataframe.columns[-1]][i]
        if(y == desired):
            continue
        elif(y == 0 and desired == 1):
            for a in range(n):
                new_w = w[a] + eta*dataframe[dataframe.columns[a]][i]
                w[a] = new_w
            #print("Changed Weights (add): ",w[0], w[1], w[2], w[3], w[4])
            learn_perceptron(r, eta)
        elif(y == 1 and desired == 0):
            for a in range(n):
                new_w = w[a] - eta*dataframe[dataframe.columns[a]][i]
                w[a] = new_w
            #print("Changed Weights (sub): ",w[0], w[1], w[2], w[3], w[4])
            learn_perceptron(r, eta)

In [6]:
def test_perceptron(r):
    y = -1
    n = dataframe.shape[1]-1
    ini = int(dataframe.shape[0]*r)
    end = dataframe.shape[0]
    matched = 0
    unmatched = 0
    for i in range(ini, end):
        sop = 0
        for j in range(n):
            x = dataframe[dataframe.columns[j]][i]
            sop += x*w[j]
        if(sop >= theta):
            y = 1
        else:
            y = 0
        
        desired = dataframe[dataframe.columns[-1]][i]
        if(y == desired):
            matched += 1
        else:
            unmatched += 1
    
    return matched, unmatched

def test_perceptron_full_train(r):
    y = -1
    n = dataframe.shape[1]-1
    ini = int(0 + 0.3*dataframe.shape[0])
    end = int(dataframe.shape[0]-(0.3*dataframe.shape[0]))
    matched = 0
    unmatched = 0
    for i in range(ini, end):
        sop = 0
        for j in range(n):
            x = dataframe[dataframe.columns[j]][i]
            sop += x*w[j]
        if(sop >= theta):
            y = 1
        else:
            y = 0
        
        desired = dataframe[dataframe.columns[-1]][i]
        if(y == desired):
            matched += 1
        else:
            unmatched += 1
    
    return matched, unmatched

In [7]:
rates = [1.0, 0.6, 0.7, 0.8]
etas = [0.2, 0.3, 0.7]
eta = 0.7
w = [0.1, 0.3, 0.2, 0.4, 0.2]
for i in range(len(rates)):
    r = rates[i]
    for j in range(len(etas)):
        eta = etas[j]
        w = [0.1, 0.3, 0.2, 0.4, 0.2]
        #print("Initial Weights: ", w)
        learn_perceptron(r, eta)
        print("For r=", r, ", eta=", eta)
        if(r != 1.0):
            matched, unmatched = test_perceptron(r)
            #print("Matched = ", matched, ", Unmatched = ", unmatched)
            accuracy = float(matched/(matched+unmatched))
            print("Accuracy: ", accuracy*100, "%")
        else:
            matched, unmatched = test_perceptron_full_train(r) #100% train korle value/0 jeno na hoy
            #print("Matched = ", matched, ", Unmatched = ", unmatched)
            accuracy = float(matched/(matched+unmatched))
            print("Accuracy: ", accuracy*100, "%")
        print("Weights: ", w[0],w[1],w[2],w[3],w[4], "\n")

For r= 1.0 , eta= 0.2
Accuracy:  100.0 %
Weights:  0.5 0.09999999999999998 0.2 0.0 0.0

For r= 1.0 , eta= 0.3
Accuracy:  100.0 %
Weights:  0.7 0.0 -0.09999999999999998 0.10000000000000003 -0.09999999999999998

For r= 1.0 , eta= 0.7
Accuracy:  100.0 %
Weights:  2.2 -0.39999999999999997 -0.49999999999999994 -0.29999999999999993 -0.49999999999999994

For r= 0.6 , eta= 0.2
Accuracy:  100.0 %
Weights:  0.5 0.09999999999999998 0.2 0.0 0.0

For r= 0.6 , eta= 0.3
Accuracy:  100.0 %
Weights:  0.7 0.0 -0.09999999999999998 0.10000000000000003 -0.09999999999999998

For r= 0.6 , eta= 0.7
Accuracy:  92.3076923076923 %
Weights:  1.5 -0.39999999999999997 -0.49999999999999994 -0.29999999999999993 0.2

For r= 0.7 , eta= 0.2
Accuracy:  100.0 %
Weights:  0.5 0.09999999999999998 0.2 0.0 0.0

For r= 0.7 , eta= 0.3
Accuracy:  100.0 %
Weights:  0.7 0.0 -0.09999999999999998 0.10000000000000003 -0.09999999999999998

For r= 0.7 , eta= 0.7
Accuracy:  90.0 %
Weights:  1.5 -0.39999999999999997 -0.49999999999999994 -0.29999999999999993 0.2

For r= 0.8 , eta= 0.2
Accuracy:  100.0 %
Weights:  0.5 0.09999999999999998 0.2 0.0 0.0

For r= 0.8 , eta= 0.3
Accuracy:  100.0 %
Weights:  0.7 0.0 -0.09999999999999998 0.10000000000000003 -0.09999999999999998

For r= 0.8 , eta= 0.7
Accuracy:  85.71428571428571 %
Weights:  1.5 -0.39999999999999997 -0.49999999999999994 -0.29999999999999993 0.2

In [8]:
#r = 0.8
#eta = 0.7
#learn_perceptron(r, eta)
#print(w)

In [9]:
#matched, unmatched = test_perceptron(r)
#print("Matched = ", matched, ", Unmatched = ", unmatched)
#accuracy = float(matched/(matched+unmatched))
#print("Accuracy: ", accuracy*100, "%")